@import '../../mixins/pixel-convert';
@import '../../mixins/font';
@import '../../mixins/layout';
@import '../../mixins/_breakpoint';

.header-wrapper {
    box-shadow: 0 0px 10px 0px var(--secondary-color);
    padding: var(--padding);
    
    @include flex-between;

    .header-drawer {
      button {
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        color: var(--primary-color);

        @include t-icon;
      }
    }
}