@import '../../mixins/pixel-convert';
@import '../../mixins/font';
@import '../../mixins/layout';
@import '../../mixins/_breakpoint';

.header {
  @include flex-between;

  padding: var(--padding);
  background-color: var(--background-color-2);
  box-shadow: 0 0px 10px 0px var(--secondary-color);

    &-drawer {
      button {
        min-width: unset;
        margin: 0;
        padding: 0;
        color: var(--primary-color);

        @include t-icon;
      }
    }
}