@import './mixins/pixel-convert';
@import './mixins/font';
@import './mixins/layout';
@import './mixins/_breakpoint';

.MuiDrawer-root > .MuiPaper-root {
    @include flex-column;

    width: 50%;
    padding: var(--padding);
    gap: to-rem(12);
    background-color: var(--drawer-overlay);
    

    button {
        min-width: unset;
        align-self: flex-end;
        display: flex;
        margin-block-start: to-rem(10);
        padding: 0;
        color: var(--primary-color);

        @include t-icon;
    }
}
