:root {
    --background-color: #1C1C1C;
    --flyout-overlay: #000000;

    --primary-color: #f5f5f5;
    --secondary-color: #ffa500;

    --padding: 20px;
    --swiper-navigation-size: 20px !important;
    --swiper-theme-color: var(--secondary-color) !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--background-color);
    color: var(--primary-color)
}

ul li {
   list-style: none; 
}

a {
    text-decoration: none !important;
    color: var(--primary-color) !important;
    display: flex;
}
