@import '../../../mixins/font';
@import '../../../mixins/pixel-convert';
@import '../../../mixins/layout';

.portfolio-section {
    h2 {
        @include t-h2;

        display: flex;
        align-items: center;
        gap: to-rem(4);
        margin-block-end: to-rem(16);

        span {
            color: var(--secondary-color);
        }

        svg {
            fill: var(--secondary-color);
            @include t-icon;
        }
    }
    
    > div {
        padding-bottom: to-rem(40);

        > div {
            .project-wrapper {
                @include flex-column;
                
                gap: to-rem(8);

                .project-name {
                    @include t-semibold-16;
                }
                
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }

                &-info {
                    @include flex-between;

                    .project-device {
                        @include t-regular-20;
                        display: flex;
                        gap: to-rem(8);
                    }

                    &__link {
                        display: flex;
                        gap: to-rem(16);

                        a {
                            @include t-regular-20;
                        }
                    }
                }

                .project-overview {
                    @include t-regular-14;
                }
            }
        }
    }

    [class*=swiper-pagination] {
        span {
            background-color: var(--swiper-theme-color);
        }
    }
    
    [class*=button-prev],
    [class*=button-next] {
        top: auto;
        bottom: 0;
    }
}