@import '../../../mixins/font';
@import '../../../mixins/pixel-convert';
@import '../../../mixins/layout';

.portfolio-section {
    h2 {
        @include t-semibold-20;

        display: flex;
        align-items: center;
        gap: to-rem(4);
        margin-block-end: to-rem(16);

        span {
            color: var(--secondary-color);
        }

        svg {
            fill: var(--secondary-color);
            @include t-icon;
        }
    }

    .skeleton-wrapper {
        @include flex-column;
        gap: to-rem(12);
    }
    
    .project-wrapper {
        @include flex-column;

        gap: to-rem(12);

        .project-name {
            @include t-semibold-16;
        }

        .project-image {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        
        &-info {
            @include flex-between;

            .project-device {
                @include t-regular-20;
                @include flex-center;
                
                gap: to-rem(8);

                span {
                    display: flex;
                }
            }

            &__link {
                @include flex-center;

                gap: to-rem(8);

                a {
                    @include t-regular-20;
                }
            }
        }

        .project-overview {
            @include t-regular-14;
        }
    }

    :global {
        .swiper {
            padding-bottom: to-rem(40);

            &-button-prev,
            &-button-next {
                top: auto;
                bottom: 0;
            }

            &-pagination {
                span {
                    background-color: var(--swiper-theme-color);
                }
            }
        }
    }
}