@import '../../../mixins/font';
@import '../../../mixins/pixel-convert';
@import '../../../mixins/layout';

.contact-section {
    h2 {
        @include t-h2;

        margin-block-end: to-rem(16);
        
        display: flex;
        align-items: center;
        gap: to-rem(4);
        
        svg {
            color: var(--secondary-color);

            @include t-icon;
        }
    }

    .form {
        @include flex-column;
        gap: to-rem(12);

        .first-name,
        .last-name,
        .email,
        .object,
        .message {
            @include flex-column;
            gap: to-rem(8);

            label {
                @include t-regular-14;
            }

            input {
                padding: to-rem(8);
                outline: none;

                @include t-regular-14;
            }

            textarea {
                height: to-rem(120);
                padding: to-rem(8);
                outline: none;
            }

            span {
                @include t-regular-12;

                color: var(--error-color);
            }
        }

        .button-abled {
            display: flex;
            justify-content: center;
            padding: to-rem(8);
            background-color: var(--secondary-color);
            border: none;
            color: var(--color-black);

            @include t-semibold-14;
        }

        .button-disabled {
            display: flex;
            justify-content: center;
            padding: to-rem(8);
            border: none;
            color: var(--color-black);
            background-color: var(--color-grey);

            @include t-semibold-14;
        }
    }
}