@import '../../../mixins/font';
@import '../../../mixins/pixel-convert';
@import '../../../mixins/layout';

.contact-section {
    h2 {
        @include t-semibold-20;

        margin-block-end: to-rem(16);
        
        display: flex;
        align-items: center;
        gap: to-rem(4);
        
        svg {
            color: var(--secondary-color);

            @include t-icon;
        }
    }

    .form {
        @include flex-column;
        gap: to-rem(12);

        .first-name,
        .last-name,
        .email,
        .object,
        .message {
            @include flex-column;
            gap: to-rem(8);

            label {
                @include t-regular-14;
            }

            input {
                padding: to-rem(8);
                outline: none;
                border: none;
                border-block-end: 1px solid var(--secondary-color);
                background-color: transparent;
                color: var(--primary-color);

                @include t-regular-14;
            }

            textarea {
                height: to-rem(120);
                padding: to-rem(8);
                outline: none;

                @include t-regular-14;
            }

            span {
                @include t-regular-12;

                color: var(--error-color);
            }
        }

        .button {
            display: flex;
            justify-content: center;
            padding: to-rem(8);
            border: none;
            

            &-abled {
                height: to-rem(32);
                background-color: var(--secondary-color);
                color: var(--color-black);

                @include t-semibold-12;   
            }

            &-disabled {
                height: to-rem(32);
                background-color: var(--color-grey);
                color: var(--color-black);

                @include t-semibold-12;
            }
        }
    }
}