@import '../../mixins/pixel-convert'; 
@import '../../mixins/font'; 
@import '../../mixins/layout';
@import '../../mixins/breakpoint';

.menu-list-wrapper {
    @include flex-column;

    gap: to-rem(16);

    @include media('>=large') {
        @include flex-row;

        gap: to-rem(32);
    }

    li {
        padding: 0;
        min-height: unset;

        a {
            @include t-regular-16;
            
            color: var(--primary-color);
            text-decoration: none;

            @include media('>=large') {
                @include t-regular-18;
            }
    
            span {
                margin-inline-end: to-rem(4);
                color: var(--secondary-color);
            }
        }
    }
}