@import '../../mixins/pixel-convert'; 
@import '../../mixins/font'; 

.menu-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
        padding: 0;
        min-height: unset;

        a {
            @include t-regular-16;
            
            color: var(--primary-color);
            text-decoration: none;
    
            span {
                margin-inline-end: to-rem(4);
                color: var(--secondary-color);
            }
        }
    }
}